<div class="sfondo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center text-white">
                <a href="#" class="navbar-brand" [routerLink]="['']"><img src="https://i.ibb.co/M84z6tX/EER.png" width="45%"></a>
            </div>
            <div class="col-md-12 col-sm-12">
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-dark justify-content-center rounded">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="menu">
                <div class="collapse navbar-collapse justify-content-center" id="menu">
                    <ul class="navbar-nav float-left">
                        <li class="nav-item">
                            <a href="#" [routerLink]="['']" class="nav-link active bn39 zoom"><span class="bn39span">Home</span></a>
                        </li>&nbsp;
                        <li class="nav-item">
                            <a href="#" class="nav-link bn39 zoom" [routerLink]="['/Clients']"><span class="bn39span">Clienti</span></a>
                        </li>&nbsp;
                        <li class="nav-item">
                            <a href="#" class="nav-link bn39 zoom" [routerLink]="['/Fatture']"><span class="bn39span">Fatture</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>