<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Chi siamo</h6>
          <p class="text-justify">EpicodeElettronicRegister.com <i>"Registro dei developer italiani e delle società"</i> è il primo registro elettronico di Web Developer attualmente attivi e di società informatiche che lavorano nel settore dello sviluppo web alla ricerca di persone da formare lanciare in questo EPICO mondo digitale. Qui troverai: Junior Front-End Developer, Master Front-End Developer, Junior Back-End Developer, Master Back-End Developer, Junior UI/UX Graphic Designer, Master UI/UX Graphic Designer e aziede alla ricerca di giovani leve in tutti questi campi.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Mappa del sito</h6>
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Clienti</a></li>
            <li><a href="#">Aggiungi clienti</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Altri link utili</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="https://join.epicode.it/members/fabio_giusti/" target="_blank">Fabio Giusti</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a class="instagram" href="#"><i class="bi bi-instagram"></i></a></li>
            <li><a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>