<br>
<table class="table table-dark table-striped rounded">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Opzioni</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of client; index as i;">
            <th scope="row">{{item.id}}</th>
            <td>{{item.nomeContatto}}</td>
            <td>{{item.cognomeContatto}}</td>
            <td>{{item.telefono}}</td>
            <td>{{item.emailContatto}}</td>
            <td><button type="button" class="btn btn-primary btn-sm" (click)="detailClient(item)">Info &nbsp;<i class="bi bi-pencil-square"></i></button></td> 
            <td><button type="button" class="btn btn-danger btn-sm">Elimina &nbsp;<i class="bi bi-x-square"></i></button></td>    
        </tr>
    </tbody>
</table>