<div class="container">
    <div class="row">
        <div class="col-6">
<div class="card text-white bg-dark my-3 border-primary" style="max-width: 25rem;">
    <div class="card-header text-center"><h2>{{client.nomeContatto}} {{client.cognomeContatto}}</h2></div>
    <div class="card-body bg-light text-dark border-success">
        <h5 class="card-title"><strong>P.IVA:</strong> {{client.partitaIva}}</h5>
        <p class="card-text"><strong>Id:</strong> {{client.id}}</p>
        <p class="card-text"><strong>Ragione Sociale:</strong> {{client.ragioneSociale}}</p>
        <p class="card-text"><strong>Tipo cliente:</strong> {{client.tipoCliente}}</p>
        <p class="card-text"><strong>Email:</strong> {{client.email}}</p>
        <p class="card-text"><strong>Pec:</strong> {{client.pec}}</p>
        <p class="card-text"><strong>Telefono:</strong> {{client.telefono}}</p>
        <p class="card-text"><strong>Email Contatto:</strong>{{client.emailContatto}}</p>
        <p class="card-text"><strong>Indirizzo Sede Operativa:</strong></p>
        <ul>
            <li>via: {{client.indirizzoSedeOperativa.via}}</li>
            <li>Civico: {{client.indirizzoSedeOperativa.civico}}</li>
            <li>Cap: {{client.indirizzoSedeOperativa.cap}}</li>
            <li>Località: {{client.indirizzoSedeOperativa.localita}}</li>
            <ul>
                <b>Comune</b>
                <li>Nome: {{client.indirizzoSedeOperativa.comune.nome}}</li>
                <li>Provincia:{{client.indirizzoSedeOperativa.comune.provincia.nome}}</li>
            </ul>
        </ul>
        <p class="card-text"><strong>Indirizzo Sede Legale:</strong></p>
        <ul>
            <li>Via: {{client.indirizzoSedeLegale.via}}</li>
            <li>Civico:{{client.indirizzoSedeLegale.civico}}</li>
            <li>Cap: {{client.indirizzoSedeLegale.cap}}</li>
            <li>Località: {{client.indirizzoSedeLegale.localita}}</li>
            <ul>
                <b>Comune</b>
                <li>Nome:{{client.indirizzoSedeLegale.comune.nome}}</li>
                <li>Provincia:{{client.indirizzoSedeOperativa.comune.provincia.nome}}</li>
            </ul>
        </ul>
        <p class="card-text"><strong>Data Inserimento:</strong> {{client.dataInserimento}}</p>
        <p class="card-text"><strong>Data Ultimo Contatto:</strong> {{client.dataUltimoContatto}}</p>
        <hr>
        <p class="card-text text-center">Fatturato Annuale:<br> <strong>{{client.fatturatoAnnuale}}</strong></p>
        <button type="button" class="btn btn-warning form-control" (click)="editClient(client)">Modifica</button>
    </div>
</div>
        </div>
        <br>
<div class="col-6">
    <br>
    <img src="https://i.giphy.com/media/eoxomXXVL2S0E/giphy.webp" class="img-fluid rounded" alt="...">
  </div>
</div>
</div>