<div class="form-group">
    <img src="https://i.ibb.co/tJVbLMs/RF.png" class="img-fluid rounded">
    </div>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Numero</th>
            <th scope="col">Anno</th>
            <th scope="col">Importo</th>
            <th scope="col"></th>
            <th scope="col">Opzioni</th>
            <th scope="col"><a href="#" class="nav-link bn39" [routerLink]="['/AddFatture']"><span class="bn39span"><i class="bi bi-plus-circle"></i>&nbsp;Fatture</span></a></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of fattura; index as i;">
            <th scope="row">{{item.id}}</th>
            <td>{{item.data}}</td>
            <td>{{item.numero}}</td>
            <td>{{item.anno}}</td>
            <td>{{item.importo}}</td>&nbsp;
            <td><button type="button" class="btn1 btn-sm" (click)="detailFattura(item)">Info &nbsp;<i class="bi bi-search"></i></button></td>
            <td><button type="button" class="btn2 btn-sm mx-1" (click)="removeFattura(item)">Elimina &nbsp;<i class="bi bi-x-square"></i></button></td>
        </tr>
    </tbody>
</table>