<br>
<div class="card mb-3 float-right shadow-lg" style="max-width: 1070px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://i.ibb.co/0q9qtLG/epicode-720.jpg" class="img-fluid rounded" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Diventa un developer EPICO e ti troviamo noi il lavoro.</h5>
                <p class="card-text">Scommettiamo su di te: paghi metà corso, l'altra metà solo quando inizi a lavorare.<br></p>
                    <p class="card-text"><i class="bi bi-check-circle"></i>Non servono laurea e competenze specifiche, solo impegno;<br>
                    <i class="bi bi-check-circle"></i>Segui il corso online, dove vuoi tu;<br>
                    <i class="bi bi-check-circle"></i>Il lavoro che andrai a fare è veramente figo.</p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 float-left shadow-lg" style="max-width: 1070px;">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Da DISOCCUPATO a MULTINAZIONALE in 3 MESI</h5>
                <p class="card-text">Guarda la storia di Samuelere, come in soli <strong>3 mesi</strong> ha cambiato la propria vita!</p>
                <p class="card-text"><a href="https://youtu.be/kjFC2GAw4Lo" target="_blank">Clicca qui</a> per guardare il video! </p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="https://i.ibb.co/0BPDtKn/maxresdefault.jpg" class="img-fluid rounded" alt="...">
          </div>
    </div>
</div>
<div class="card mb-3 float-right shadow-lg" style="max-width: 1070px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://i.ibb.co/HH5qpxC/maxresdefault-1.jpg" class="img-fluid rounded" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Come nasce Epicode</h5>
                <p class="card-text">Il racconto di Marco Rosci e Claudio Vaccaro, i due fondatori della scuola più epica d'Italia.</p>
                <p class="card-text"><a href="https://www.youtube.com/watch?v=kd2OWk0A4qw&ab_channel=EpicodeSchool" target="_blank">Clicca qui</a> per guardare il video! </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 float-left shadow-lg" style="max-width: 1070px;">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Diventa web developer in 3 mesi. Poi ti mandiamo a lavorare.</h5>
                <p class="card-text"><strong>&lt;/pazzesco&gt;</strong><br>
                    Noi di EPICODE crediamo in te. Tu puoi credere in noi: paghi solo metà corso; l’altra metà quando inizi a lavorare. Sì, è pazzesco. Ed è vero.</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="https://i.ibb.co/NVGFJYp/Immagine-Thumbnail.jpg" class="img-fluid rounded" alt="...">
          </div>
    </div>
</div>
<br>
<div class="container text-center text-white">
    <h1>Come funziona il nostro corso</h1>
    <button type="button" class="btn btn-grad shadow-lg" data-toggle="modal" data-target="#finestraModale"> I NOSTRI 4 STEP </button>
    <div class="modal fade text-dark" id="finestraModale">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title text-center">I NOSTRI 4 STEP </h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <h1><i class="bi bi-laptop"></i></h1>
            <h2><i>Impara.</i> Da dove vuoi</h2>
            <h5>Niente aule fisiche. Il corso è al 100% online. Ti basta un PC e puoi studiare da qualsiasi posto.</h5><br>
            <h1><i class="bi bi-keyboard"></i></h1>
            <h2><i>Fai.</i> 70% di pratica</h2>
            <h5>Per imparare devi fare. Per questo la maggior parte del corso EPICODE è basato sulla pratica.</h5><br>
            <h1><i class="bi bi-mortarboard"></i></h1>
            <h2><i>Confrontati.</i> Con i nostri guru</h2>
            <h5>Tu studia dove vuoi, noi ti seguiamo: avrai degli specialisti a tua disposizione con cui confrontarti ogni giorno.</h5><br>
            <h1><i class="bi bi-handbag"></i></h1>
            <h2><i>Lavora.</i> Subito</h2>
            <h5>Trovi lavoro subito dopo il corso. Altrimenti lo paghi solo a metà. Sì, siamo l’unicorno della formazione</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger hoverable form-control" data-dismiss="modal">CHIUDI</button>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  