<br>
<div class="card mb-3 float-right" style="max-width: 1070px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://i.ibb.co/0q9qtLG/epicode-720.jpg" class="img-fluid rounded" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Diventa un developer EPICO e ti troviamo noi il lavoro.</h5>
                <p class="card-text">Scommettiamo su di te: paghi metà corso, l'altra metà solo quando inizi a lavorare.<br></p>
                    <p class="card-text"><i class="bi bi-check-circle"></i>Non servono laurea e competenze specifiche, solo impegno;<br>
                    <i class="bi bi-check-circle"></i>Segui il corso online, dove vuoi tu;<br>
                    <i class="bi bi-check-circle"></i>Il lavoro che andrai a fare è veramente figo.</p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 float-left" style="max-width: 1070px;">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Da DISOCCUPATO a MULTINAZIONALE in 3 MESI</h5>
                <p class="card-text">Guarda la storia di Samuelere, come in soli <strong>3 mesi</strong> ha cambiato la propria vita!</p>
                <p class="card-text"><a href="https://youtu.be/kjFC2GAw4Lo" target="_blank">Clicca qui</a> per guardare il video! </p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="https://i.ibb.co/0BPDtKn/maxresdefault.jpg" class="img-fluid rounded" alt="...">
          </div>
    </div>
</div>
<div class="card mb-3 float-right" style="max-width: 1070px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://i.ibb.co/HH5qpxC/maxresdefault-1.jpg" class="img-fluid rounded" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Come nasce Epicode</h5>
                <p class="card-text">Il racconto di Marco Rosci e Claudio Vaccaro, i due fondatori della scuola più epica d'Italia.</p>
                <p class="card-text"><a href="https://www.youtube.com/watch?v=kd2OWk0A4qw&ab_channel=EpicodeSchool" target="_blank">Clicca qui</a> per guardare il video! </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 float-left" style="max-width: 1070px;">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="https://i.ibb.co/NVGFJYp/Immagine-Thumbnail.jpg" class="img-fluid rounded" alt="...">
          </div>
    </div>
</div>
<br>
<div class="container text-center">
    <h1>colori di Bootstrap</h1>
    <p> Bootstrap utilizza dei nomi di variabili CSS per definire 12 colori principali, da utilizzare nel suo sistema di stilizzazione dei contenuti.<br> Fai click sul button qui sotto per visualizzare le classi di colore Bootstrap</p>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#finestraModale">CLASSI DI COLORE</button>
    <div class="modal fade" id="finestraModale">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">I colori di Bootstrap</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <h4 class="text-primary">.PRIMARY</h4>
            <h4 class="text-secondary">.SECONDARY</h4>
            <h4 class="text-success">.SUCCESS</h4>
            <h4 class="text-warning">.WARNING</h4>
            <h4 class="text-danger">.DANGER</h4>
            <h4 class="text-info">.INFO</h4>
            <h4 class="text-muted">.MUTED</h4>
            <h4 class="text-body">.BODY</h4>
            <h4 class="text-white bg-dark">.WHITE</h4>
            <h4 class="text-light bg-dark">.LIGHT</h4>
            <h4 class="text-black-50">.BLACK-50</h4>
            <h4 class="text-light-50">.BLACK-50</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">CHIUDI</button>
          </div>
        </div>
      </div>
    </div>
  </div>